<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88F2C0561CE56750005E7EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F2C06F1CE56751005E7EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F2C07A1CE56751005E7EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
